.stilo {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.stilo2 {
    margin-right: 0px;
    padding-right: 0px;
}

.stilo3 {
    margin-left: 349 px;
    margin-right: 349 px;
    color: #fff;
    background-color: #20a8d8;
}